@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navItem a {
    text-decoration: none;
    font-family: "Roboto";
    color: black;
    font-size: 1.5vw;
    margin-right: 30px;
    font-weight: bolder;
    transition: 1s;
    text-transform: uppercase;
}

.navItem a:hover {
    color: #fdc41f;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
    transform: scale(1.08);
}

.logo {
    font-family: 'Bebas Neue', Roboto;
    font-size: 2vw;
    transition: 1s;
    vertical-align: top;
}

.logo img {
    width: 3.5vw;
}

.logo:hover{
    color: white;
    transform: scale(1.06);
    text-decoration: none;
}

@media (max-width: 1024px) {
    .logo{
        font-size: 5vw;
    }
    .logo img{
        width: 8vw;
    }
    .navItem a {
        font-size: 3vw;
    }
}

@media (max-width: 768px){
    .logo img{
        width: 10vw;
    }
}

@media (max-width: 540px) {

    .logo{
        font-size: 10vw;
    }
    .logo img{
        width:13vw;
    }
    .navItem a {
        font-size: 5vw;
    }
}
