.ArtistasConfirmados_imagens {
  margin-left: 4.4%;
  margin-right: 4.4%;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 20px;
}

.ArtistasConfirmados_imagens img {
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.308);
  cursor: pointer;
  opacity: 80%;
  margin-top: 3vw;
}

#the-rock:hover,
#fabio-melo:hover,
#ivete-sangalo:hover,
#gil-vigor:hover {
  border-radius: 5px;
  transition: 0.4s;
  opacity: 1;
}

#artistas {
  position: relative;
  top: 2vw;
}

@media (max-width: 1100px) {
  .ArtistasConfirmados_imagens {
    display: list-item;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }

  #the-rock,
  #fabio-melo,
  #ivete-sangalo,
  #gil-vigor {
    opacity: 1;
  }
}
