.mapa {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    z-index: 1;
  }

  .mapa iframe {
    width: 90%;
    height: 90vw;
  }
  
  @media (min-width: 1000px) {

    .mapa iframe {
      height:15vw;
    }
  }

  @media (min-width: 1500px) {

    .mapa iframe {
      height:25vw;
    }
  }