.time a {
    text-decoration: none;
  }
  
  #titulo-nome {
    margin-top: 1vw;
    font-size: 15vw;
  }
  
  #sub-nome {
    position: relative;
    top: -4.6vw;
    font-family: "lato", Roboto;
    color: black;
    text-align: center;
    font-size: 2.8vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
    margin-left: 25%;
    width: 50%;
  }
  
  .time {
    margin-top: 30px;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 5vw;
    background-color: white

  }
  
  .membro {
    width: 20.5%;
    transition: 1s;
    border-top-left-radius: 15vw;
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
    margin-left: 12%;
    margin-right: 10%;
    margin-top: 20px;
    border: black double  5px;
  }
  
  .membro-nome {
    display: inline-block;
    width: 30%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 1vw;
    transition: 0.5s;
    font-family: "Bebas Neue";
    color: #fdc41f;
    font-size: 2.5vw;
    background-color: #ed2a44;
    border: black solid 1px;
    border-radius: 100px;
  }
  
  .membro-nome:hover {
    color: black;
    background-color: white;
    border: black solid 1px;
  }
  
  
  .membro:hover {
    opacity: 1;
    transform: scale(1.03);
    box-shadow: #0084ff 0px 0px 3vw;
  }
  
  #titulo-video{
    margin-top: 80px;
  }
  .video2 {
  margin-top: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  
  .video2 iframe {
    margin-top: 30px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  
  .video h2 {
    padding-bottom: 2%;
  }

  
@media (max-width: 768px) {

  
  #titulo-nome{
    font-size: 20vw;
  }

  #sub-nome{
    font-size: 4vw;
  }
  .membro-nome {
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
  }
  
  .membro {
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-top-left-radius: 35vw;
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 35vw;
    border-bottom-right-radius: 35vw;
    border: black double  4px;
    opacity: 1;
    width: 45%;
  }


  .membro-nome::before {
    content:  url('github2.svg');
    position: relative;
    top: 4px;
  }

  .video2 iframe {
    margin-top: 30px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 1000px) {
  .membro-nome::before {
    position: relative;
    content: url('github.svg');
    top: 0.4vw;
  }
}