footer {
    text-align: center;
    background-color: rgba(38, 0, 30, 0.9);
    width: 100%;
    padding-top: 1em;
  }
  
  .rodape-img {
    width: 100%;
  }
  
  .copyright {
    color: #ffffff;
    font-family: 'lato', Roboto;
    font-size: 2vw;
    margin: 0px 0 0;
  }

  @media (max-width: 768px) {
    .copyright {
      font-size: 6vw;
    }
  }