
/*      bootstrap       */
.center {
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
}

/* Carrossel estrutura */

#galeria{
    position: relative;
    top: -14vw;
}

.carrosselDeFotos {
    background-color: white;
    padding-bottom: 5vw;
    margin-top: 5vw;
    padding-top: 10vw;
}

.tituloCarrossel {
    position: absolute;
    margin-left: 25%;
    width: 50%;
    color: #eec338;
    font-size: 15vw;
    font-weight: bolder;
    z-index: 4;
    top: 50vw;
}

.fraseCarrossel h3 {
    color: white;
    font-family: 'Dancing Script';
    text-shadow: 2px 2px 4px black;
    font-size: 12vw;
}
@media (max-width: 999px) {

    .carrosselDeFotos {
        background-color: white;
        padding-bottom: 5vw;
        margin-top: 40vw;
        padding-top: 30vw;
    }

    .tituloCarrossel {
        position: absolute;
        margin-left: 10%;
        width: 80%;
        color: #eec338;
        font-size: 30vw;
        font-weight: bolder;
        z-index: 4;
        top: 640vw;
    }
}