.titulo {
  font-family: "Bebas Neue", cursive;
  color: #fdc41f;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
  margin-top: 30px;
}

.subtitulo {
  font-family: "Bebas Neue", cursive;
  color: #fdc41f;
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}

::selection {
  color: #fdc41f;
  background-color: #26001e;
}

@media (max-width: 1100px) {
  .imagens {
    width: 300px;
    display: list-item;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }
  .sobre img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .sobre {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .enviar {
    font-size: 20px;
    width: 40%;
    margin: 2px 2px 2px 2px;
  }

  .membro-nome {
    font-size: 12px;
  }

  .video iframe {
    margin-top: 30px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}



