#sobre {
    position: relative;
    top: -4vw;
}

.sobreNos {
    background-color: #ED2A45;
    margin-top: -5vw;
    padding-bottom: 5vw;
}

.sobreTitulo {
    padding-top: 2vw;
    font-size: 9vw;
    text-align: left;
    margin-left: 10vw;
    position: relative;
    z-index: 1;
    color: white;
}

#intro {
    margin-bottom: 1em;
    width: 90%;
    display: inline-block;
}

.sobre {
    padding: 5px;
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 8vw;
}

.sobre p {
    font-family: 'Lato';
    color: #fdc41f;
    text-align: left;
    font-size: 1.7vw;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.479);
    width: 70%;
    margin: 1vw, 0;
}

.sobre img {
    margin-right: 5%;
    width: 30vw;
    z-index: 2;
}

.sobre ul {
    list-style: none;
    margin-left: 3vw;
}

.sobre li :before {
    content: "\1F37B ";
}

@media (max-width: 1024px){

    .sobreTitulo {
        font-size: 19vw;
    }

    .sobre p {
        font-size: 3vw; 
    }
    .sobre img {
        width: 150%;
    }
}

@media (max-width: 768px) {


    #sobre {
        top: -15vw;
    }
    

    .sobreTitulo{
        font-size: 70px;
        text-align: center;
        margin-left: 0%;
    }
    .sobre {
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .sobre p {
        text-align: center;
        font-size: 20px;
        width: 80%;
    }
    .sobre img {
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .sobre {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
