/* .artistas{
    background-color: #ED2A45;
} */


.tituloArtistas{
    position: relative;
    padding-top: 2vw;
    font-size: 5vw;
    color: white;
    background-color: #ED2A45;
    width: 100%;
    font-weight: bolder;
}

.ArtistasConfirmados_imagens {
    margin-top: -1vw;
    position: relative;
    top: vw;
    margin-left: 2.2%;
    margin-right: 2.2%;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.ArtistasConfirmados_imagens img {
    cursor: pointer;
    margin-top: 3vw;
    border-radius: 1vw;
    background-color: #ED2A45;
    opacity: 0.9;
}

#the-rock:hover,
#fabio-melo:hover,
#Dianho:hover,
#fernando-posser:hover {
    transition: 1s;
    margin: 2%;
    opacity: 1;
}

 @media (max-width: 1024px){
    .tituloArtistas{
        position: relative;
        padding-top: 10vw;
        font-size: 10vw;
    }

    .ArtistasConfirmados_imagens{
        display: list-item;
    }

    #the-rock,
    #fabio-melo,
    #Dianho,
    #fernando-posser{
        opacity: 1;
        width: 45%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
}

@media (max-width: 768px) {

    .tituloArtistas {
        position: relative;
        font-size: 20vw;
        font-weight: bolder;
    }

    .ArtistasConfirmados_imagens img {
        opacity: 1;
        border-radius: 5vw;
    }

    .ArtistasConfirmados_imagens {
        position: relative;        
        margin-top: 10vw;
        display: list-item;
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        
    }
    #the-rock,
    #fabio-melo,
    #Dianho,
    #fernando-posser {
        opacity: 1;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
}