.ArtistasConfirmados_imagens {
    margin-top: 10vw;
    position: relative;
    top: 30px;
    margin-left: 2.2%;
    margin-right: 2.2%;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.ArtistasConfirmados_imagens img {
    cursor: pointer;
    margin-top: 3vw;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#the-rock:hover,
#fabio-melo:hover,
#ivete-sangalo:hover,
#gil-vigor:hover {
    transition: 1s;
    margin: 2%;
    opacity: 1;
}

#artistas {
    position: absolute;
    margin-top: 5vw;
    font-size: 100px;
    width: 72%;
    margin-left: 14%;
    top: 1vw;
    color: #EEC338;
    font-weight: bolder;
}

@media (max-width: 1100px) {

    #artistas {
        position: absolute;
        margin-top: 5vw;
        font-size: 55px;
        margin-left: 15%;
        width: 70%;
        top: 20vw;
        color: #EEC338;
        font-weight: bolder;
    }

    .ArtistasConfirmados_imagens {
        top: 20vw;
        position: relative;        
        margin-top: 40vw;
        display: list-item;
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        
    }
    #the-rock,
    #fabio-melo,
    #ivete-sangalo,
    #gil-vigor {
        opacity: 1;
    }
}