
#contato{
  position: relative;
  top: -7vw;
}

.tituloContato{
  font-size: 8vw;
}


.formulario {
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
  } 
  
  .input-padrao {
    display: flex;
    margin: 5px 0 0 15%;
    padding: 10px 25px;
    width: 70%;
    font-size: 2vw;
    font-family: 'lato';
    border-radius: 50px;
    border:none;
    resize: none;
  }

  .error-message{
    color: #ED2A45;
    font-size: 1.3vw;
    margin-top: 0.1vw;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
  }
  
  .formDiv {
    display: inline-block;
    text-align: center;
    width: 50%;
    vertical-align:top;
  }

  .venda {
    margin: 40px 0;
  }
  
  .labelFormulario  {
    font-family: "Bebas Neue", Roboto;
    font-size: 2vw;
    color: #fdc41f;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
  }

  .enviar {
    width: 40%;
    font-size: 2vw;
    border: none;
    border-radius: 500px;
    transition: 1s;
    cursor: pointer;
    padding: 1vw 5vw;
    margin-top: 5vw;
    color: #EFBB40;
    background-color: #ED2A45;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    border: 1px solid #ED2A45;
  }
  
  .enviar:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
  }
  
  @media (max-width: 1024px){
    .enviar {
      padding: 2vw;
      font-size: 4vw;
      width: 40%;
      margin: 2px 2px 2px 2px;
    }
    .input-padrao {
      display: flex;
      margin: 5px 5%;
      padding: 10px 25px;
      font-size: 4.5vw;
      width: 85%;
    }
    .error-message{
      font-size: 2.8vw;
    }
    .labelFormulario  {
      font-size: 5vw;
    }
    .tituloContato{
      font-size: 20vw;
    }
  }

  @media (max-width: 540px) {

    #contato{
      top: -15vw;
    }

    .enviar {
      font-size: 4vw;
      width: 40%;
      margin: 2px 2px 2px 2px;
    }

    .input-padrao {
      display: flex;
      margin: 5px 5%;
      padding: 10px 25px;
      font-size: 4vw;
      width: 90%;
    }
    .error-message{
      font-size: 3vw;
    }
    .labelFormulario  {
      font-size: 5vw;
    }
    .tituloContato{
      font-size: 20vw;
    }
  }